{% extends "base2.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}
    
    {% include "navbar.html" %}

    <form method="POST" action='{% url "WriteBlog:home" %}' enctype='multipart/form-data'>{% csrf_token %}

        <div class='col-sm-4 col-sm-offset-4'>
            {{ form.title|as_crispy_field }}<br/><!-- as_crispy_field is used for subfield-->
        </div>

        <div class='col-sm-8 col-sm-offset-2'>
            {{ form.text|as_crispy_field }}
        </div>

        <div class='col-sm-4 col-sm-offset-4'>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Create Ghost</button>
        </div>

    </form>

{% endblock %}