{% extends "base.html" %}
{% load i18n %}
{%load static %}

{% block main %}
<br/>
  
  <link href="{% static 'Blog/css/jumbotron.css' %}" rel="stylesheet">
    
    <div class="container">
      <div class="jumbotron">
        <h1>Let's Write Something</h1>
        <p class="lead"><h3>Are you a writer inside?</h3>
        If Yes, then it's time not to hold up your imagination inside your mind.
        Start writing and be anonymous, sharing your thoughts to every corner of the world. Be it a poem, an article, a story, don't hold it. Just paint it to the world.</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'registration_register' %}" role="button">Sign up today</a></p>
      </div>
    </div>

{% endblock %}